version: '3.8'

services:
  client:
    build:
      context: ./client
    ports:
      - "3016:80"
    restart: always

  server:
    build:
      context: ./server
    ports:
      - "5016:5016"
    env_file:
      - ./server/.env
    restart: always
