PORT=
MONGO_URL=
LOG_LEVEL=
NODE_ENV=
JWT_SECRET=
JWT_LIFETIME=
EMAIL_USER=
EMAIL_PASS=
BASE_URL=
HANDIZ_SITE_URL=
LMS_SITE_URL=
COOKIE_DOMAIN=

GCS_BUCKET_NAME=
GCS_KEYFILE=

WHISH_CHANNEL=
WHISH_SECRET=
WHISH_WEBSITE_URL=https://handiz.org
WHISH_ENVIRONMENT=
WHISH_SUCCESS_URL=
WHISH_CANCEL_URL=

VDOCIPHER_API_SECRET_KEY=
VDOCIPHER_WEBHOOK_SECRET=
VDOCIPHER_API_BASE=https://dev.vdocipher.com/api
VDOCIPHER_OTP_TTL=300
VDOCIPHER_WATERMARK=1

DASHBOARD_URL=
GOOGLE_CLIENT_ID=